*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  overflow-x: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background: rebeccapurple;
  font-size: 24px;
  line-height: 1.5;

  color: #fff;
  font-family: Roboto;
}

.heart{
  font-size: 48px;

  position: fixed;
  bottom: -10vh;
  animation: animHeart 3s ease forwards;
}
@keyframes animHeart{
  0%{
    transform: translateY(-125vh);
    opacity: 0.3;
  }
}